@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/Montserrat-Regular.ttf')
}

@font-face {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/RobotoCondensed-Regular.ttf')

}
@font-face {
  font-family: 'Merriweather', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Merriweather-Regular.ttf')
  
}

@font-face {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Ubuntu-Medium.ttf')
}



* {
  box-sizing: border-box;
}

body {
  background-color: #EAEAEA;
}

.header {
  background-color: #ffffff;
  height: 225px;
  width: 100vw;
  display: inline-flex;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  margin-bottom: 25px;
}

.name {
  background-color: blue;
  color: #ffffff;
  text-align: right;
  font-size: 48px;
  font-weight: 700;
  padding: 12px;
  width: 650px;
  height: 75px;
  border-radius: 0px 50px 50px 0px;
  padding-right: 75px;
}

.date {
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 24px;
}

.add-a-note {
  position: absolute;
  left: 300px;
  top: 165px;
  font-size: 24px;
}

.addBtn {
  cursor: pointer;
  height: 75px;
  width: 75px;
  position: relative;
  left: -15px;
  margin: 5px;
  margin-bottom: 25px

}


.input-field {
  padding: 5px;
  position: relative;
  height: 350px;
  width: 400px;
  background-color: #ffffff ;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  
}

    .create-note {
      color: blue;
      display: inline-flex;
      justify-content: space-evenly;
      width: fit-content;
      margin: 0px 45px 45px 37.5px;
    }

.inp {
  height: 400px;
  width: 350px;
  font-size: 24px;
  border-left: double gray;
  border-bottom: solid gray;
  border-radius: 10px;
  height: 400px;
  width: 350px;
  font-size: 18px;
  margin: 5px;
  font-family:"Montserrat"
}



.inp-title {
  font-size: 24px;
  height: fit-content;
}

.inp-date {
  height: fit-content;
}

.inp-note {
  height: 150px;
  width: 350px;
}




.submit {
  cursor: pointer;
  right: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  border-radius: 10px;
  font-size: 24px;
  color: black;
  height: 35px;
  width: 150px;
  background-color: blue;
  color: #ffffff ;
}
  
.cancel{
  cursor: pointer;
  left: 125px;
  background-color: darkred;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  width: 150px;
  height: 35px;
}

.add-btn-space {
  height: 40px;
  width: 100vw;
}

#boxes {
  display: inline-flex;
  background-color: #ffffff;
  height: 350px;
  width: 400px;
  box-shadow: 10px 10px 7px #dfdfdf;
  font-family: "Montserrat";
  margin: 0px 45px 45px 37.5px;
  
}

.notes {
  height: 350px;
  width: 400px;
  overflow: hidden;
}

.note-header {
  display: inline-flex;
  margin-bottom: 20px;
  align-items: center;
}


.wordBox {
  margin: 0px 50px 25px 50px
}

.btn {
  cursor: pointer;
  height: 36px;
  width: 36px;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  
}
.note-title {
  margin-bottom: 25px;
  display: inline-flex;
  font-size: 28px;
  font-weight: 700;
  width: fit-content;
}
.note-date{
  font-size: 24px;
  margin-bottom: 25px;
  
}

.note-content {
  font-size: 20px;
  height: 175px;
  overflow: hidden;
}

.edit-field {
  display: inline-flex;
  flex-direction: column;
  padding: 5px;
  position: relative;
  height: 350px;
  width: 400px;
  background-color: #ffffff;
  align-items: center;
}

.edit-inp{
  border-left: double gray;
  border-bottom: solid gray;
  border-radius: 10px;
  height: 400px;
  width: 350px;
  font-size: 24px;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.buttons{
  margin-left: 300px;
  background-color: rgb(0, 0, 255);
  border-radius:  0 0 0 25px;
}

.editBtn {
  margin-left: 15px;

  
}

.edit-title {
  margin-top: 15px;
  height: 36px;
}

.edit-date {
  height: fit-content;
}

.edit-note {
  height: 150px;
  width: 350px;
  font-size: 20px;
}

.edit-submit{
  
  right: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  border-radius: 10px;
  font-size: 24px;
  color: black;
  height: 35px;
  width: 150px;
  background-color: blue;
  color: #ffffff ;
}

.edit-cancel {
  left: 125px;
  background-color: darkred;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  width: 150px;
  height: 35px;
}

.edit-btn {
  cursor: pointer;
}

